server:
  port: 10004

spring:
  application:
    name: mall-product
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.11.130:3306/mall_pms
    username: root
    password: root
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto
      logic-delete-value: 1 #全局配置,逻辑已删除(默认为1)
      logic-not-delete-value: 0 #逻辑未删除(默认0)
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


#日志打印级别
logging:
  level:
    com.angryzyh.mall.product: ERROR